node_modules
.env
coverage
coverage.json
typechain
typechain-types
types/ethers-contracts
cache
artifacts
gas-report.txt

# Hardhat files
cache
artifacts

# IDE
.vscode
.idea

# OS
.DS_Store
*.pdf
CLAUDE.md